<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= page_title %> | ヒットスタート合同会社</title>
  </head>

  <body>
    <header>
      <h1>ヒットスタート合同会社</h1>
    </header>

    <h2><%= page_title %></h2>

    <%= page_body %>

    <%= global_site_tag %>
  </body>
</html>
